vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2005 18:52:32 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|19 Mar 2005 18:52:32 -0000
vti_filesize:IR|1657
vti_cachedlinkinfo:VX|S|../img/icons/tabs/bg.gif S|../img/icons/tabs/bg.gif S|../img/icons/tabs/right.gif S|../img/icons/tabs/left.gif S|../img/icons/tabs/left_on.gif S|../img/icons/tabs/right_on.gif S|../img/icons/tabs/right_last.gif S|../img/icons/tabs/left_first.gif
vti_cachedsvcrellinks:VX|FSUS|img/icons/tabs/bg.gif FSUS|img/icons/tabs/bg.gif FSUS|img/icons/tabs/right.gif FSUS|img/icons/tabs/left.gif FSUS|img/icons/tabs/left_on.gif FSUS|img/icons/tabs/right_on.gif FSUS|img/icons/tabs/right_last.gif FSUS|img/icons/tabs/left_first.gif
vti_lineageid:SR|{DBCAF7A2-6F6E-4D5E-A931-CFAA86663F84}
vti_backlinkinfo:VX|test/asp/test_mysql.asp test/aspnet/test.aspx test/coldfusion/test.cfm test/asp/test_msaccess.asp test/asp/test_mail.asp test/asp/test_mssql.asp
